<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Contact Browser.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8D31E2301D88484F00AF5D7D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D31E2441D88485000AF5D7D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D31E24F1D88485000AF5D7D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
